body {
  font-family: 'Niramit','Serif';
  color: #fff;
  margin: 0;
  background-color: #2c2c33;
  text-align: center;
}

.default-text {
  color: #fff !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}